/* ------------------- Générique ------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.back{
  font-size: .5rem;
}

.App{
  width: 100%;
  height: 100%;
  background: #0d1c19;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 0;
  gap: 2rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll ;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.container::-webkit-scrollbar{
  display: none;
}

h1{
  color: #0ac39e;
  font-size: 1.5rem;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: #fff;
}

p{
  color: #fff;
}

input{
  border-radius: .2rem;
  height: 2rem;
  border: none;
  width: 80%;
}

button{
  border: none;
  height: 2rem;
  border-radius: .2rem;
  padding: .125rem .25rem;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* ------------------- Home ------------------- */

.homeHeader{
  flex-direction: column;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.notifsPerm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.notifsPerm p{
  text-align: center;
  margin: 0 0 .5rem;
}

.notifsPerm button{
  padding: .25rem .5rem;
  width: 65%;
  background: none;
  color: #fff;
  border: solid #0ac39e 0.05rem;
}

.homeForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.homeForm input{
  width: 100%;
}

.homeForm button{
  width: 80%;
}

canvas{
  width: 100%;
  height: 100%;
}


/* ------------------- Pages Boissons ------------------- */

.drinkTitle{
  font-size: 3rem;
}

.drinks{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.drinkItem{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.drinkName{
  color: #6acab7;
  font-size: 3rem;
}

.drinkIngredients{
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: .4rem;
  flex-wrap: wrap;
  font-size: 2.5rem;
}

.drinkIngredients p{
  width: max-content;
}

.drinkDatas{
  color: #fff;
}

button:hover{
  background: #6acab7;
  color: #0d1c19;
}

/* ------------------- CATEGORIES ------------------- */

.menuLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  height: 100%;
}

.menuLinks a{
  font-size: 3rem;
}

.embeddedMenu iframe{
  border: none;
  width: 750px;
  height: 1040px;
}

/* ------------------- Pages Admin ------------------- */

.adminForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 0;
  height: 100%;
  gap: 1rem;
}

.loginBtn{
  background: #6acab7;
  border: none;
  width: 60%;
}

.loginBtn:hover{
  background: #0ac39e;
  color: #fff;
}


.logMessage{
  color: #fff;
  text-align: center;
}

.logout{
  color: #fff;
  border: .01rem #fff solid;
  border-radius: 0.1rem;
  padding: 0.25rem 0.5rem;
  font-size: .5rem;
}

.adminMenuText{
  color: #6acab7;
}

.beverages{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.beverageItem{
  background: #fff;
  border-radius: .25rem;
  padding: .25rem .5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.beverageItem h2{
  color: #0ac39e;
  font-size: 1rem;
}

.beverageIngredients{
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.btnManagement{
  display: flex;
  position: absolute;
  gap: .5rem;
  right: -.5rem;
  top: -1rem;
}

.beverageItem button{
  width: auto;
  padding: .25rem .5rem;
}

#confirmDelete{
  background: rgba(11, 15, 15, 0.98);
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  color: #0ac39e;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: .5rem .5rem 0;
  gap: 3rem;
}

.hidden{
  display: none !important;
}

.popupHeader{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

.popupBtn{
  display: flex;
  gap: 2rem;
}

.popupTitle{
  text-transform: uppercase;
}

.popupBtn button{
  padding: .25rem .5rem;
}



